extends layout

block content
    p This COVID-19 Tracker uses the publicly available REST API provided by 
        a(href='https://apify.com/covid-19') apify.com
    p Visit the  
        a(href='/') home page